<div class="container mt-5">
    <div class="row">
        <div class="p-5 text-center bg-body-tertiary rounded-3">

            <div class="col-md-3 mt-3">
                <button class="btn btn-primary w-100" id="AddRow">Additional Person</button>
            </div>

            <form method="post" action="/home/add">
                <div id="ppl-rows">
                <div class="row person-row mt-3" style="margin-bottom: 10px;">
                <div class="col-md-4">
                    <input type="text" class="form-control" name="Persons[0].FirstName" placeholder="First Name" />
                </div>
                <div class="col-md-4">
                            <input type="text" class="form-control" name="Persons[0].LastName" placeholder="Last Name" />
                </div>
                <div class="col-md-4">
                            <input type="text" class="form-control" name="Persons[0].BirthDay" placeholder="Birth Day" />
                </div>
                </div>
                </div>

                <div class="col-md-6 offset-md-3 mt-3">
                    <button class="btn btn-success w-100">Submit</button>
                </div>
            </form>
        </div>

    </div>
</div>

@section Scripts {
    <script src="/js/AdditionalPersons.js"></script>
}
